* {
    color: black;
}

body {
    background-image: url(/images/bground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

p{
    font-size: 1.2rem;
    line-height: 1.3;
}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

caption{
    font-size: 0.8rem;
}

a {
    transition: ease-out 0.3s;
    color: black;
}

a:hover {
    color:darkgrey;
}

hr {
    border-color: black;
}

footer {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

img {
    border: black solid;
}


/* normal above this---------------------------------------------------------------------------------------------------------------------- */

/* ids above this------------------------------------------------------------------------------------------------------------------------ */

.largeLinkText {
    font-size: 1.5rem;
    display: flex;
    margin-top: 50%;
    font-weight: bold;
}

.headerContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.qualityContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.titleContainer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    position: relative;
    text-align: center;
}
.titleContainer h1 {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

.smallTextContainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.smallText{
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
}

.headerCaption{
    font-size: 1.3rem;
    margin: 0;
}

.intro{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.introImage{
    padding-right: 1.5rem;
}

.introText{
    width: 25%;
    padding-left: 1.5rem;
}

/* Dropdown Button */
.dropbtn {
    background-image: url(/images/bground.jpg);
    background-color: rgba(0,0,0,0);
    border: solid 1px black;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.dropbtn img,
header > figure > img {
    border: none;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
    pointer-events: none;
    border-radius: 0.5rem;
    right: 0;
    left: auto;
    width: 15rem;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropbtn img {
    margin-right: 5rem;
    width: 4rem;
    height: 4rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
  margin-left: 95%;
  position: fixed;
  width: 5%;
  height: 8%;
}

/* Links inside the dropdown */
.dropdown-content a {
  background-image: url(/images/bground.jpg);
  color: black;
  text-decoration: none;
  display: block;
  border: solid 1px black;
  text-align: left;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0.1rem;
 
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.Projects {
    box-sizing: border-box;
    text-align: center;
}

.slideshow-container {
    width: 80%;
    height: 40%;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
  position: relative;
  display: flex;
  text-align: center;
}

.mySlides img {
    width: 100%;
}

/* Caption text */
.slidesText {
  font-size: 1rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;

}

.Writings {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
}

.largeText {
  font-size: 1.5rem;
}

.writingContent {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.writingContent img {
    width: 80%;
}

.writingContent a{
  padding: 0.5rem;
}

.projectContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.projectDesc {
    width: 60ch;
    font-size: 1.2rem;
    line-height: 1.3;
} 

.projectTitles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.projectImg {
    border: solid black;
    width: 800px;
}

.toggle1 {
    display: none;
}

.toggle2 {
    display: flex;
}

.executiveSummaryContainer {
    width: 50%;
}

.engineeringContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.engineeringDesc {
    display: flex;
    flex-flow: row nowrap;
    width: 50%
}

.engineeringIntro {
    width: 50%;
}

.engineeringDetailbtn {
    display: flex;
    background-color: transparent;
    border-radius: 0.3rem;
    width: 20%;
    height: 10%;
    margin-left: 40%;
    font-size: 1.2rem;
    justify-content: center;
    cursor: pointer;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contactContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.contactList {
    text-align: left;
}

.contactItem {
    padding: 2rem;
}

.Icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.Icon img {
    border: none;
}

.resumeContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.aboutResume {
    display: flex;
    flex-flow: column;
    padding-right: 5rem;
    width: 25%
}

.educationExperienceSkillsResume {
    width: 25%;
}

.aContent,
.eesContent {
    padding: 1rem;
}

.aboutMe {
    display: flex;
    flex-flow: column wrap;
    width: 60%;
    margin-left: 20%;
}

.aboutMe article {
    display: flex;
    flex-flow: row nowrap;
}

.titleImage {
    width: 30%;
}

.iconImg {
    width: 15%;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media screen and (max-width: 600px) {

    h1 {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    footer {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .headerContainer {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
        align-items: center;
    }

    .qualityContainer{
        display: none;
    }
        
    .titleContainer h1 {
        position: absolute;
    }

    .headerCaption {
        font-size: 1rem;
    }

    .logoImg {
        margin-left: 42%;
    }

    .introText {
        width: 90%;
    }

    .introImage {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .largeText {
        font-size: 1.2rem;
    }

    .Icon {
        display: flex;
        flex-flow: row nowrap;
    }

    .iconImg {
        width: 100%;
    }

    .iconImgContact {
        width: 2.3rem;
    }

    .aboutMe {
        width: 70%
    }

    .educationExperienceSkillsResume {
        width: 100%;
    }

    .aboutResume {
        width: 100%;
        display: flex;
        flex-flow: column-reverse;
    }

    .aContent {
        display: flex;
        flex-flow: column wrap;
        width: 100%
    }

    .aContent hr {
        margin-left: 0;
        width: 70%;
    }

    .projectImg {
        width: 100%;
    }

    .projectDesc {
        width: 80%;
    }

    .engineeringDesc {
        display: flex;
        flex-flow: column wrap;
        width: 80%;
        margin-left: -10%;
    }

    .engineeringIntro {
        width: 90%;
    }

    .executiveSummaryContainer {
        width: 80%;
    }

    .dropdown {
        display: inline-block;
        margin-left: 80%;
        position: fixed;
        width: 20%;
        height: 10%;
        margin-top: -90%;
      }

      .resumeImage {
        width: 40%;
      }

      .intro {
        width: 100%
      }
}

@media screen and (max-width: 1030px) and {
    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.2rem;
    }


    .qualityContainer {
        display: none;
    }

    .dropdown {
        display: inline-block;
        margin-left: 90%;
        position: fixed;
        width: 10%;
        height: 10%;
    }

    .Icon {
        display: flex;
        flex-flow: row nowrap;
    }

    .iconImg {
        width: 100%;
    }

    .iconImgContact {
        width: 4rem;
    }

    .engineeringDesc {
        display: flex;
        flex-flow: column wrap;
        width: 80%;
        margin-left: -10%;
    }

    .engineeringIntro {
        width: 90%;
    }

    .executiveSummaryContainer {
        width: 80%;
    }

    .educationExperienceSkillsResume {
        width: 80%;
    }

    .aboutResume {
        width: 70%;
        display: flex;
        flex-flow: column-reverse;
    }

    .aContent {
        width: 100%
    }

    .aContent hr {
        margin-left: 0;
        width: 70%;
    }

    .introText {
        width: 35%;
    }
    
}

  /* classes above this------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */
